@import url('https://fonts.googleapis.com/css?family=Courgette|Kalam:400,700|Play:700&display=swap');

/* font-family: 'Play', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Kalam', cursive; */

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  height: 100vh;
  font-family: 'Courgette', cursive;
}

header {
  text-align: center;
  background: #eb7070;
  padding:1px;  
  font-size: 2rem;
}

header h1 {
  padding-top: 20px;
  font-family: 'Courgette', cursive;
  font-size: 3rem;
}

.form-container {
  margin-left: 30px;
}

#global {
  background: #64e291;
}

#main {
  height: 500px;
  width: 500px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  margin:auto;
  background: #64e291;
}

.hole {
  overflow: hidden;
  position: relative;
  margin: 1px;
  background: #e6e56c;
}

.mole {
  background: url('./images/giphy-downsized.gif') center no-repeat;
  background-size: 80%;
  position:absolute;
  top:100%;
  height:100%;
  width:100%;
  margin:1%;
  transition-property: all;
  transition-duration: 800ms;
}

.hole.up .mole {
  top: 0;
}

.hammer {
  background: url("./images/thor-hammer.png") no-repeat left;
  background-size: 100%;
  /* z-index: 2; */
  position: absolute;
  left: 100%;
  top: -50%;
  height: 80px;
  width : 80px;
  transition: all ease-out;
  transition-duration: 100ms;
}

.hole.bim .hammer {
  top:20%;
  left: 30%;
  transform: rotate(-90deg);
}

/* layout */

#global {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.side {
  font-size: 2rem;
  background: #64e291;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
}


      /* #right  */

.fa-heart {
  color: red;
}

.game-rules {
  font-size : 1.2rem;
}

#text-display {
  text-align: center;
}

#HP {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#timer {
  text-align: center;
  margin: 30px 30px;
  padding: 20px;
  background: #fec771;
}


      /* difficulty-choice */

#level {
  text-align: center;
  margin: 30px;
  /* visibility: hidden; */
}

.form-container {
  display:flex;
  align-items: baseline;
  /* font-family: 'Play', sans-serif; */
  font-size : 1.5rem;
}
select {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#start_btn {
  margin: 40px auto;
  padding: 30px 30px;
  visibility: visible;
}

#reload_btn {
  padding: 30px 30px;
  margin: 40px auto;
  visibility: visible;
}

.btns {
  display: flex;
  justify-content: baseline;
}
.btn {
  position: relative;
  color: black;
  padding: 10% 10%;
  font-size: 1.5rem;
  font-weight: bold; 
  background: #e6e56c;
}

form {
  display: flex;
  align-content: space-around;
  /* align-items: baseline; */
}

select {
  margin-top: 30px;
}

#start-timer {
  text-align: center;
  padding-top: 25%;
  font-size: 4rem;
}

/* .dirt {
  background: url('./images/dirt.png') bottom no-repeat;
  position: relative;
  bottom: 10px;
  height: 151px;
  bottom: -20px;
  background-size: 100%;
  z-index: 1;
} */